html {
  margin-left: 150px;
  border-left: 2px dashed #FFF8E5;
}

body {
  background-color: #00A19D;
  color: #FFF8E5;
  margin: 10px;
  margin-top: 160px;
  font-family: 'Lato';
  line-height: 50%;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  color: #FFB344;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-size: 36px;
  font-weight: 200;
  top: 10px;
}

#portrait {
  position: absolute;
  width: 320px;
  height: 320px;
  right: 160px;
  top: 130px;
}

#mc {
  margin-top: 30%;
}
