html {
  margin-left: 8%;
  margin-right: 8%;
  border-left: 2px double #FFF8E5;
  border-right: 2px double #FFF8E5
}

body {
  background-color: #00A19D;
  color: #FFF8E5;
  font-family: 'Lato';
  text-align: center;

}

h1 {
  font-size: 120px;
  font-weight: 600;
  color: #FFB344;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  font-weight: 200;
}

p {
  font-size: 24px;
  font-weight: 200;
}

.textbox {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textbox h1 {
  margin: 0;
  margin-top: 25%;
}

.textbox h2 {
  margin: 0;
  margin-top: 30%
}

.textbox h3 {
  margin: 0;
  margin-top: 36%
}

#portrait {
  width: 240px;
  height: 240px;
  position: static;
  padding-top: 25%;
  left: 50%;
}

.projects {
  height: 500px;
  width: 70%;
  border: 2px solid #FFF8E5;
  border-radius: 5px 5px 5px 5px;
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
  overflow: auto;
}

.projects h1 {
  font-size: 60px;
  text-align: left;
  margin-top: 0;
}

.projects p {
  text-align: left;
  width: 40%;
}

.projects h2 {
  text-align: justify;
  display: inline-block;
  position: absolute;
  bottom: 22%;
  font-size: 16px;
  font-weight: 200;
  left: 50%;
  width: 504px;
}

.projects a {
  position: absolute;
  left: 50%;
  bottom: 10%;
  color: #FFB344;
}

.projects a:hover {
  color: #E05D5D;
}

#camera {
  position: absolute;
  top: 8%;
  left: 50%;
  width: 504px;
  height: 283px;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.projects h3 {
  text-align: justify;
  display: inline-block;
  position: absolute;
  bottom: 12%;
  font-size: 16px;
  font-weight: 200;
  left: 50%;
  width: 504px;
}

#chev {
  position: absolute;
  top: 8%;
  left: 50%;
  width: 504px;
  height: 364px;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

#email {
  position: sticky;
  transform: rotate(-90deg);
}

@media screen and (max-width: 1220px) {
  .textbox {
    width: 100%;
  }
  .projects p {
    width: 90%
  }
  .projects h2 {
    opacity: 0;
  }
  #camera {
    opacity: 0;
  }
  #chev {
    opacity: 0;
  }
}

/* Fade in animations */
.fade-in-effect {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;

}

/* Delayed */
.fade-in-delayed {
  animation: fadeIn-delayed 3s;
  -webkit-animation: fadeIn-delayed 3s;
  -moz-animation: fadeIn-delayed 3s;
  -o-animation: fadeIn-delayed 3s;
  -ms-animation: fadeIn-delayed 3s;
}

.fade-in-delayed-extra {
  animation: fadeIn-delayed-extra 4s;
  -webkit-animation: fadeIn-delayed-extra 4s;
  -moz-animation: fadeIn-delayed-extra 4s;
  -o-animation: fadeIn-delayed-extra 4s;
  -ms-animation: fadeIn-delayed-extra 4s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Delayed */
@keyframes fadeIn-delayed {
  0% {opacity:0;}
  66% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn-delayed {
  0% {opacity:0;}
  66% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn-delayed {
  0% {opacity:0;}
  66% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn-delayed {
  0% {opacity:0;}
  66% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn-delayed {
  0% {opacity:0;}
  66% {opacity:0;}
  100% {opacity:1;}
}

/* extra delay */
@keyframes fadeIn-delayed-extra {
  0% {opacity:0;}
  70% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn-delayed-extra {
  0% {opacity:0;}
  70% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn-delayed-extra {
  0% {opacity:0;}
  70% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn-delayed-extra {
  0% {opacity:0;}
  70% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn-delayed-extra {
  0% {opacity:0;}
  70% {opacity:0;}
  100% {opacity:1;}
}
