body
{
	background: #ffd0c8;
	font-family: consolas;
	color: #101010;
	text-align: center;
}

#main
{
	background: #ffbd59;
	width: 1000px;
	height: 600px;
	margin: 25px auto;
	border: double 2px #e6802d;
}

h1
{
	text-align: center;
	font-family: consolas;
	font: 24pt;
	color: #e6802d;
}
p
{
	font-family: consolas;
	font-size: 12pt;
	text-align: left;
	text-indent: 48px;
	color: #101010;